{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dialia RMT</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" href="{% static 'assets/images/favicon.png' %}">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

    <!-- Google Font (font-family: 'Open Sans', sans-serif;) -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700" rel="stylesheet">
    <!-- Google Font (font-family: 'Poppins', sans-serif;) -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,600,700" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
</head>

<body>

    <!-- Preloader -->
    <div class="tm-preloader">
        <svg width="300" height="300" viewBox="0 0 485 528" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M207.9,515.3H13V9h194.9c53.4,0,100.4,10.6,139.7,31.4c39.7,21.1,70.7,51.2,92,89.5
            c21.1,38,31.9,82.2,31.9,131.2c0,49-10.7,93.3-31.8,131.5v0c-21.3,38.5-52.3,69-92.2,90.5C307.8,504.5,260.9,515.3,207.9,515.3z
            M43,485.3h164.9c48,0,90.1-9.6,125.3-28.5c34.8-18.7,61.7-45.2,80.2-78.6c18.6-33.7,28.1-73.1,28.1-117
            c0-43.9-9.5-83.1-28.1-116.7c-18.5-33.2-45.3-59.3-79.8-77.6C298.6,48.4,256.3,39,207.9,39H43V485.3z M197.8,412.2h-69.6V110h69.6
            c48.7,0,87.4,13.4,115.1,39.9c27.9,26.6,42,64.1,42,111.2c0,47.2-14.1,84.6-42,111.2l0,0C285.2,398.8,246.5,412.2,197.8,412.2z
            M158.2,382.2h39.6c40.7,0,72.5-10.6,94.4-31.6l0,0c22-21,32.7-50.3,32.7-89.5c0-39.2-10.7-68.5-32.7-89.5
            c-21.9-20.9-53.7-31.6-94.4-31.6h-39.6V382.2z" />
        </svg>
        <button class="tm-button tm-button-white">Cancel Preloader</button>
    </div>
    <!--// Preloader -->

    <div id="wrapper" class="wrapper">
    
    {% include 'topnavbar.html' %}
    {% include 'navbar.html' %}
    {% block content %}
        
    {% endblock content %}
    {% include 'footer.html' %}

    {% block scripts %}
    {% endblock %}
    </div>
    <!-- Js Files -->
    <script src="{% static 'assets/js/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <!--// Js Files -->
</body>
</html>
        