{% load static %}
<!-- Footer Area -->
<footer class="footer">

    <!-- Footer Widgets -->
    <div class="footer-toparea tm-padding-section">
        <div class="container">
            <div class="row widgets footer-widgets">

                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Single Widget (Widget Contact) -->
                    <div class="single-widget widget-contact">
                        <h5 class="widget-title">Get In Touch</h5>
                        <ul>
                            <li><b>Address :</b>2726 Avenue Papineau Montreal, QC, Canada</li>
                            <li><b>Phone :</b><a href="tel:+18009156270">1-800-915-6270</a></li>
                            <li><b>Email :</b><a href="mailto:info@example.com">info@example.com</a></li>
                        </ul>
                        <ul class="widget-contact-social">
                            <li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
                            <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                            <li><a href="#"><i class="zmdi zmdi-pinterest"></i></a></li>
                            <li><a href="#"><i class="zmdi zmdi-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <!--// Single Widget (Widget Contact) -->
                </div>


                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Single Wiget (Widget Quicklinks) -->
                    <div class="single-widget widget-quicklinks">
                        <h5 class="widget-title">Customer services</h5>
                        <ul>
                            <li><a href="#">Physiotherapy</a></li>
                            <li><a href="#">Massage Therapy</a></li>
                            <li><a href="#">Vehicle Injury Treatment</a></li>
                            <li><a href="#">Acupuncture</a></li>
                            <li><a href="#">Neurological Rehabilitation</a></li>
                            <li><a href="#">Custom-Made Orthotics</a></li>
                        </ul>
                    </div>
                    <!--// Single Wiget (Widget Quicklinks) -->
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Single Widget (Widget Newsletter) -->
                    <div class="single-widget widget-newsletter">
                        <h5 class="widget-title">Subscribe us</h5>
                        <p>Get Business news, tip and solutions to
                            your problems from our experts.</p>
                        <form id="tm-mailchimp-form" class="widget-newsletter-form">
                            <input id="mc-email" type="text" placeholder="Email address" required="required">
                            <button id="mc-submit" type="submit" class="tm-button"><i class="zmdi zmdi-mail-send"></i></button>
                        </form>
                        <!-- Mailchimp Alerts -->
                        <div class="tm-mailchimp-alerts">
                            <div class="tm-mailchimp-submitting"></div>
                            <div class="mailchimp-success"></div>
                            <div class="tm-mailchimp-error"></div>
                        </div>
                        <!--// Mailchimp Alerts -->
                        <img src="{% static 'assets/images/icons/payment-methods.png' %}" alt="payment methods">
                    </div>
                    <!--// Single Widget (Widget Newsletter) -->
                </div>

            </div>
        </div>
    </div>
    <!--// Footer Widgets -->

    <!-- Footer -->
    <div class="footer-bottomarea">
        <div class="container">
            <p class="footer-copyright">Copyright 2023 by <a href="#">Dialia</a>. All rights
                reserved</p>
        </div>
    </div>
    <!--// Footer -->

</footer>
<!--// Footer Area -->
