{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Breadcrumb Area -->
<div class="tm-breadcrumb-area tm-padding-section" data-bgimage="{% static 'assets/images/bg/breadcrumb-bg.jpg' %}"
data-black-overlay="4">
<div class="container">
    <div class="tm-breadcrumb text-center">
        <h2>Make Payment</h2>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Make Payment</li>
        </ul>
    </div>
</div>
</div>
<!--// Breadcrumb Area -->
<!-- Main Content -->
<main class="main-content">

    <!-- Checkout Area -->
    <div class="tm-section tm-checkout-area bg-white tm-padding-section">
        <div class="container">

            <div class="mt-5 mb-5 text-center">
                <h1>making order: $ {{cart.get_total_cost}}</h1>
                
                <script src="https://js.paystack.co/v1/inline.js"></script>
                <button class="btn btn-success" id="django-paystack-button" onclick="payWithPaystack()">Making Payment</button>

            </div>
        </div>
    </div>
    
{% endblock  %}

{% block scripts %}

<script>

function payWithPaystack() {
    let currency= "NGN";
    let plan = "";
    let ref = "{{form.ref}}";
    let obj = {
        key: "{{paystack_public_key}}",
        email:"{{form.email}}",
        amount:"{{cart.get_total_cost}}" * 100,
        ref:ref,
        callback: function(response){
            window.location.href = "{% url 'success' %}";
            
        }
    }
    if (Boolean(currency)){
        obj.currency = currency.toUpperCase()
    }
    if (Boolean(plan)){
        obj.plan = plan
    }
    var handler = PaystackPop.setup(obj);
    handler.openIframe();
    
}
</script>


{% endblock %}
    